.App{
  margin: 0;
  border: 0;
  background: linear-gradient(130deg,rgb(151, 203, 255),rgb(80, 167, 255));
}

@media only screen and (max-width:500px) {
  .App{
    margin: -68px;
    border: 0;
    background: linear-gradient(130deg,rgb(151, 203, 255),rgb(80, 167, 255));
  }
}